*{
    margin: 0;
    padding: 0;
}
.box{
    height: 150px;
    width: 150px;
    border: 5px solid brown;
    margin: 5px;
}
#heading{
    text-align: center;
}
#container{
    height: 600px; width: 600px; padding: 10px; margin: 20px; border: 5px solid brown;

    display: flex;
    background-color: yellow;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
#box1{background-color: lightgreen;}
#box2{ background-color: blue;}
#box3{ background-color: blueviolet;}
#box4{ background-color: rosybrown;}