*{
    margin: 0;
    padding: 0;
}
.box{
    height: 75px;
    width: 75px;
    border: 5px solid brown;
    margin: 5px;
}
#heading{
    text-align: center;
}
#container{
    height: 300px; width: 600px; padding: 10px; margin: 20px; border: 5px solid brown;

    display: flex;
    background-color: yellow;
    justify-content:center;
    
}
#box1 {
    background-color: lightgreen;
    order: 3;
}

#box2 {
    background-color: blue;
    order: 4;
}

#box3 {
    background-color: blueviolet;
    order: 1;
}

#box4 {
    background-color: rosybrown;
    border: 1;
}