*{
    margin: 0;
    padding: 0;
}
.box{
    height: 75px;
    width: 75px;
    border: 5px solid brown;
    margin: 5px;
}
#heading{
    text-align: center;
}
#container{
    height: 300px; width: 600px; padding: 10px; margin: 20px; border: 5px solid brown;

    display: grid;
    grid-template-columns: 80px 100px;
    grid-template-rows: 50px 100px ;
    background-color: yellow;
    justify-content:center;
    
}
#box1 {
    grid-row: 1 / 2;
    grid-columns: 1 / 2;

    background-color: lightgreen;
}

#box2 {   
     grid-row: 2 / 2;
    grid-columns: 2 / 2;
    background-color: blue;
}

#box3 {  
    grid-row: 2 / 2;
    grid-columns:1 / 2;
    background-color: blueviolet;
}

#box4 {   
     grid-row: 1 / 2;
    grid-columns: 2 / 2;
    background-color: rosybrown;
} 